@media screen and (max-width:900px) {

body{
    /* width: 100%; */
}

.hero{
    /* padding-left: 50px; */
    height: auto;
    width: 100%;
    border: solid tomato 2px;
}

.desktopnavbar{
    display: none;
}

.mobilenavbar{
    display: flex;
    flex-direction: column;
    background: tomato;
    padding: 20px;
}
 
.exdiv1 h1{
    color: white;
}

.exdiv2 ul{
    flex-direction: column;
    padding: 0;
}

li{
    margin: 5px 0;
}
/* mobile view ends here */
.water{
    height: 40px;
    width:200px;
    border-radius: 50px;
    font-size: 15px;
}

.exleftdiv{
display: none;
}

.exrighhtdiv{
    display: none;
    width: 100%;
    padding: 30px 0px;
}

.container{
    
    font-size: 2px;
    display: flex;
        flex-direction: column;
        height: auto;

}
.row1{
    width: 100%;
}

    /* FOOOTER SECTION STARTS HERE */
    footer {
        align-items: center;
        justify-content: center;
        width: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    /* FOOOTER SECTION ENDS HERE */
}