@media screen and (max-width: 900px) {

  .hero {
    height: auto;
    width: 100%;
  }

  .desktopnavbar {
    display: none;
  }

  .mobilenavbar {
    top: 0;
    display: flex;
    flex-direction: column;
    background: tomato;
    padding: 10px 20px;
    height: auto;
    position: fixed;
    width: 90%;
  }

  .exdiv1 h1 {
    color: white;
  }

  .exdiv2 {
    /* transition: all 0.9s ease; */
  }

  .show-exdiv2 {
    transform: translateY(0);
  }

  .exdiv2 ul {
    flex-direction: column;
    padding: 0;
  }

  li {
    margin: 5px 0;
  }
  /* mobile view ends here */
  .water {
    height: 40px;
    width: 200px;
    border-radius: 50px;
    font-size: 15px;
  }

  .exleftdiv {
    display: none;
  }

  .exrighhtdiv {
    display: none;
    width: 100%;
    padding: 30px 0px;
  }

  .container {
    font-size: 2px;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .row1 {
    width: 100%;
  }

  /* FOOOTER SECTION STARTS HERE */
  footer {
    align-items: center;
    justify-content: center;
    width: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  /* FOOOTER SECTION ENDS HERE */
}
